doctype html
html
    head
        meta(charset='UTF-8')
        title Bayou
        link(rel='stylesheet', href='/style.css')

h2 Feed: #{feed_pubkey} 

p.high <b>Home Page</b>: <a href="/data/#{feed_pubkey}">#{base_url}/data/#{feed_pubkey}</a>
p.high <b>Public Key:</b> #{feed_pubkey}
p.high <b>Private Key:</b> (Secret! shhh ... :))

h2 Downloads

p <a href="/data/#{feed_pubkey}/csv/">CSV</a> | <a href="/data/#{feed_pubkey}/json/">JSON</a>

h2 Adding feed data

h4 Curl

h4 Python

h4 Microcontroller

h2 Analyzing feed data

h2 Graphs
