h2 Bayou Feed ID # #{feed}

p The url suffix for this feed is <a href="/data/#{feed}">/data/#{feed}</a>

p Data downloads: <a href="/data/#{feed}/csv/">CSV</a> | <a href="/data/#{feed}/json/">JSON</a>

