doctype html
html
    head
        meta(charset='UTF-8')
        title Bayou
        link(rel='stylesheet', href='/style.css')

h1 You've created a new data feed!

p.high <b>Name:</b> "#{feed_name}"
p.high <b>Public Key:</b> #{public_key}
p.high <b>Private Key:</b> #{private_key}
p.high <b>Feed Home Page:</b> <a href="/data/#{public_key}">#{base_url}/data/#{public_key}</a>

p (NOTE: please record the above information -- these keys won't be shown again! You can download the keys as a JSON file for safekeeping <a href="/">here</a>.)

<hr>
<a href="/">Back to Bayou Home</a>
